* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    margin: 4px 0 !important;
    background-color: #666;
    box-shadow: 0 0 10px 0 #000;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background-color: #fff;
}
