*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

.virtual-list {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: rgba(241, 241, 241, 1);
    overflow-y: scroll;
}

.list {
    position: relative;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list > li {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
}

.list > li .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 105px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.list > li .container .img {
    margin-right: 10px;
    width: 85px;
    height: 85px;
    background-color: rgba(241, 241, 241, 1);
}

.list > li .container .text {
    flex: 1;
    height: 100%;
    text-align: right;
    font-size: 60px;
}

.list > li .container .text input {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgba(241, 241, 241, 1);
    outline: none;
    padding: 0 10px;
    font-size: 60px;
    line-height: 1;
    color: rgba(187, 187, 187, 1);
    text-align: right;
}

.list > li .container .text input::placeholder {
    line-height: 1.4;
    color: rgba(187, 187, 187, 1);
}

nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    min-width: 320px;
    padding: 15px;
}
