* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    background-color: #000;
}

.page {
    margin: auto;
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 1.2vw;
}

.example {
    margin-bottom: 1.5em;
}

.desc {
    color: #fff;
}

.pie-conic-gradient,
.pie-svg-path,
.pie-canvas {
    width: 20vw;
    height: 20vw;
}
