* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body,
.text-path,
.butterfly-path {
    width: 100%;
    height: 100%;
}

.text-path,
.butterfly-path {
    position: absolute;
    top: -10%;
    left: 0;
    background-color: #fff;
}

.path-group {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 822;
    stroke-dashoffset: 822;
}

.path-group-1 {
    stroke: #086972;
    stroke-width: 5px;
    -webkit-animation: strokeText1 3s linear infinite alternate both;
    animation: strokeText1 3s linear infinite alternate both;
}

.path-group-2 {
    stroke: #17b978;
    stroke-width: 10px;
    -webkit-animation: strokeText2 3s linear infinite alternate both;
    animation: strokeText2 3s linear infinite alternate both;
}

.path-group-3 {
    stroke: #a7ff83;
    stroke-width: 20px;
    -webkit-animation: strokeText3 3s linear infinite alternate both;
    animation: strokeText3 3s linear infinite alternate both;
}

@-webkit-keyframes strokeText1 {
    10% {
        stroke-dashoffset: 822;
    }
    40%,
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes strokeText1 {
    10% {
        stroke-dashoffset: 822;
    }
    40%,
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes strokeText2 {
    20% {
        stroke-dashoffset: 822;
    }
    70%,
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes strokeText2 {
    20% {
        stroke-dashoffset: 822;
    }
    70%,
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes strokeText3 {
    30% {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes strokeText3 {
    30% {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.btn {
    position: fixed;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 100px;
    height: 100px;
    background-color: #17b978;
    border-radius: 50%;
    cursor: pointer;
}

.btn:active,
.btn:focus {
    -webkit-transform: translate3d(-50%, 0, 0) scale(0.95);
    transform: translate3d(-50%, 0, 0) scale(0.95);
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
}

.btn::before {
    width: 25%;
    height: 25%;
    background-color: #086972;
    -webkit-animation: btn 2s linear infinite;
    animation: btn 2s linear infinite;
}

.btn:hover::before {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

@-webkit-keyframes btn {
    to {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@keyframes btn {
    to {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.btn::after {
    width: 25%;
    height: 25%;
    background-color: #086972;
}

.butterfly-path {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.butterfly-path.show {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.butterfly {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 9490;
    stroke-dashoffset: 9490;
    stroke: #8972ba;
    stroke-width: 5px;
    -webkit-animation: butterfly 10s linear infinite;
    animation: butterfly 10s linear infinite;
}

@-webkit-keyframes butterfly {
    5% {
        stroke-dashoffset: 9490;
    }
    85%,
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes butterfly {
    5% {
        stroke-dashoffset: 9490;
    }
    85%,
    to {
        stroke-dashoffset: 0;
    }
}

.eraser {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 2829;
    stroke-dashoffset: 2829;
    stroke: #ffffff;
    stroke-width: 150px;
    -webkit-animation: eraser 10s linear infinite;
    animation: eraser 10s linear infinite;
}

@-webkit-keyframes eraser {
    from,
    90% {
        stroke-dashoffset: 2829;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes eraser {
    from,
    90% {
        stroke-dashoffset: 2829;
    }
    to {
        stroke-dashoffset: 0;
    }
}
